@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-950 text-neutral-100;
}

/* Scrollbar Styling */
/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262626; /* neutral-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #404040; /* neutral-700 */
  border-radius: 10px;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #404040 #262626; /* thumb track */
}
